body {
  overflow-x: hidden;
}

#loginMenuDrop, #userMenuDrop{
  left:-150px;
  min-width: 250px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
  position: relative;
}

.loader-big{
  left: calc(50% - 60px);
  width: 120px;
  height: 120px;
}

.loader-small{
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropdown .dropdown-menu.mobile-open {
  transition: all 0.3s;
  display:block;

}

@media (min-width:768px){
  .dropdown .dropdown-menu.mobile-open {
    visibility: hidden;
    opacity:0;

  }
  .dropdown .dropdown-menu.mobile-open.show {
    visibility: visible;
    opacity:1;
  }
}

.logged-in {
  display: none;
}

.bg-tec {
  background: #003A74;
}

#profile {
  width: 100%;
  max-width: 200px;
  display: block;
  border-radius: 25px;
  opacity: 1;
  transition: opacity ease-out 300ms;
}
